# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/
ENV/

# FastText model veya büyük dosyalar
*.bin

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log